body, html {
    margin: 0;
    padding: 0;
}

body, td {
    font-family: "Roboto", sans-serif;
    color: #333;
}

h1 {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.54);
}

.paper-image {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.39);
}