<!doctype html>
<html lang="en">
<head>
    <title>Face Detector Training</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
<div id="content"></div>
<script src="{{ url_for('static', filename='webpack/bundle.js') }}"></script>
</body>
</html>